@import url('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 1.100 & display = swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    color: 1E1E2A;
}

/*  HEADER */

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url('space_Stars1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10 112px;
    position: relative;
}
.post_image{
border-radius:50%;
width:100px;
margin-left:85px;
margin-bottom:40px;




}



h1 {
    color: white;
    margin-left: 40px;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2{
    margin-left: 40px;
    font-size: 38px;
    color:white;
    letter-spacing: 4px;
}
.social-media{
margin-left: 40px;
margin-top: 1rem;
display: flex;

}
.social-media a{
    text-decoration-color: none;
    color: #1E1E2A;
    padding: 1rem 4rem;
    border: 1px solid #1E1E2A;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;


}

a:hover{
    background-color:#fff;
}

 /*   MENU HAMBURGER */

 .checkbox-container{
display: flex;
justify-content: center;
align-items: center;
 }
 .checkbox{
height: 100px;
width: 100px;
position: absolute;
right: 0;
top:0;
display: flex;
justify-content: center;
cursor: pointer;
z-index: 9999;
transition: 400ms ease-in-out 0s;
 }
 .checkbox .trace{
width: 50px;
height: 2px;
background-color:#1E1E2A;
position: absolute;
border-radius: 4px;
transition: 0.5s ease-in-out;
 }

 .checkbox .trace:nth-child(1){
top:26px;
transform: rotate(0);
 }

.checkbox .trace:nth-child(2){
    top:46px;
    transform: rotate(0);
     }
.checkbox .trace:nth-child(3){
        top:66px;
        transform: rotate(0);
         }  

 #toggle{
    display: none;
 }        

 /*   MENU  */
 .menu{
position: absolute;
top: 28px;
right: 30px;
background-color: transparent;
height: 4px;
width: 10px;
border-radius: 50%;
box-shadow: 0px 0px 0px 0px #fff;
z-index: -1;
transition: 400ms ease-in-out;
 }
 .menu-items{
position: fixed;
top:0;
width: 100%;
left:0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
z-index: 2;
opacity: 0;
visibility: hidden;
transition: 400ms ease-in-out;
 }

 .menu-items ul{
    list-style:circle;
 }
 .menu-items ul li a {
margin: 10px 0;
color:black;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 4px;
font-size: 40px;
 }
 /*   animação */


 #toggle:checked + .checkbox .trace:nth-child(1){
transform:rotate(45deg);
top:47px;
 }
 #toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width:30px;
    visibility: hidden;
    opacity: 0;
     } 
#toggle:checked + .checkbox .trace:nth-child(3){
        transform: rotate(-45deg);
        top:48px;
         }
#toggle:checked + .checkbox{
    background-color: #fff;
}
#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax #fff;
    z-index: 1;
}
#toggle:checked ~.menu-items{
    visibility: visible;
    opacity: 1;
}

.container{
height: auto;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin: 3rem 0 ;
}
.card-container{
display: flex;
justify-content: space-evenly;
align-items: center;
width: 90%;
}
.card{
width: 300px;
height: 300px;
border-radius: 100%;
margin: 3rem 0 0 0 ;
display: flex;
align-items: center;
justify-content: center;
background-color: #60E1e0;
background-image: url('fotobooble.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
filter: grayscale(0.5);
color:#1E1E2A;
cursor: pointer;
transition: 0.5ms ease-in-out ;
}
.card-text {
    font-size:20px;
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109,109,109);
}

.card-whrapper{

 text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
text-transform: capitalize;
}
.card-whrapper::before   {
content: '';
position: absolute;
height: 100px;
width: 100px;
border-radius: 50%;
display: block;
border: 1px solid #fff;
opacity: 0;
transition: 0.5s ease-in-out;
}
.card-whrapper h2{
    color:black;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 4px;
margin: 0;
transition: 0.5s ease-in-out;

}
    .card-whrapper p {
        font-size: 0;
        visibility: visible;
        opacity: 0;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.5s ease-in-out;
        background-color: white;
    }
.card:hover{
    filter: unset;
}
.card:hover > .card-whrapper::before{
height: 200px;
width: 200px;
opacity: 1;
}
.card:hover > .card-whrapper p{
opacity: 1;
visibility: visible;
font-size: 14px;


}
/* footer */

.footer{
width: 100%;
height: 100px;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
color: floralwhite;


}
/*pokebola*/
*,
*::before,
*::after{
-webkit-box-sizing: border-box;
-moz-box-sizing:  border-box;
box-sizing: border-box;
}

/*pokebola*/

.pokeboll{
position: relative;
width: 135px;
height: 135px;
background-color: #fff;
overflow: hidden;
margin: 20px auto;
border: 5px solid #000;
border-radius: 50%;
box-shadow: insert -10px 10px 0 10 px rgba(0, 0,0, 0.1);
animation: rotacao 4s infinite;
}


/*pseudo elementos para pokebola*/

.pokeboll::before,
.pokeboll::after{
 content:"";
 position: absolute;   
}
/*parte vermelha*/
.pokeboll::before{
background-color: #ef4036;
width: 100%;
height: 50%;
}
/*divisao preta*/

.pokeboll::after{
top:calc(50% - 10px);
width: 100%;
height: 20px;
background-color: #000;
}
/*botao central*/

.pokeboll-button{
width: 50px;
height: 50px;
background-color: #fff;
border: 10px solid #000;
border-radius: 50%;
position: absolute;
top:calc(50% - 25px);
left: calc(50% - 25px);
z-index: 1;
}

@keyframes rotacao { 
0%{
transform: rotate(-25deg);
}

50%{
    transform: rotate(25deg);
}


100%{

    transform: rotate(-25deg);
}

} 


